(
    name: "Ally Warrior Lv1",
    team: 0,                   // 숫자(u8)

    max_hp: 12,
    max_shield: 2,

    move_per_turn: 5,
    actions_per_turn: 1,

    attack: (
        damage: 3,
        range: 3,
        crit_chance: 0.05,
        crit_mult: 1.5,
        dirs: Four,            // Four | Eight
    ),

    traits_: (
        can_move_after_attack: false,
        auto_reload: false,
        can_phase: false,
    ),

    firing: (
        burst: 0,
        multishot_rays: 0,
        fan_rays: 0,
        lobbed: false,
    ),

    propagation: None,         // None | Pierce(times: 1) | Ricochet(times: 1, branches: 3) | Chain(jumps: 1, radius: 1, diagonal: false)

    on_hit: (
        explode: None,         // Some((radius: 1, bonus_damage: 2, every_hit: false))
        knockback: None,       // Some((distance: 1, impact_damage: 0))
        gravity: None,         // Some((range: 2, strength: 1))
    ),

    imbue: (
        element: None,         // Some(Fire | Ice | Electric | Poison)
        cooldown_max: 0,
        cooldown: 0,
    ),
)
